@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arapey", serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
}

span {
  font-weight: bold;
}
.page1 {
  width: 60vmax;
  height: 57vh;
  border: 2px solid gainsboro;
  box-shadow: -5px 5px rgb(245, 243, 243);
  margin: 15vh auto;
}
.page1 h1,p {
  padding: 2.5rem 1rem 0 1rem;
}

.button{
    position: absolute;
    height: 10vh;
    width: 100%;
    background-color: rgb(250, 241, 228);
    top: 0;
    left: 0;
    position: sticky;
    padding: 1.5rem 1rem;
}
button {
  margin-right: 2rem;
  width: 80px;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.281);
  background-color: rgba(98, 105, 105, 0.178);
  margin-bottom: 1rem;
}
button a {
  color: rgb(20, 1, 1);
  text-decoration: none;
}
button:hover {
  background-color: gray;
}
button:hover a {
  color: bisque;
}
/* setting page2 and  page3*/
.page2, .page3{
    width: 60vmax;
    height: 60vh;
    border: 2px solid gainsboro;
    box-shadow: -5px 5px rgb(245, 243, 243);
    overflow: scroll;
    margin: 15vh auto;
}
.page2 p{
    padding: 1rem;
}
.page3 p, h2 {
    padding: 1rem;
}
/* setting page4 */
.page4, .page5{
    width: 60vmax;
    height: 62vh;
    border: 2px solid gainsboro;
    box-shadow: -5px 5px rgb(245, 243, 243);
    margin: 15vh auto;
}
.page4 p{
    padding: 1.3rem 1rem;
}
/* setting page5 */
.page5 p::after{
    content: "";
    background-image: url(../img/linebreak.png);
    height: 10vh;
    background-repeat: no-repeat;
    width: 100px;
    background-size: contain;
    z-index: 2;
    display: block;
    margin: 10px auto;
}