@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arapey", serif;
  font-size: 1.2rem;
  text-align: justify;
}
.news {
  position: relative;
  display: inline-block;
  width: 90vmax;
  min-width: 400px;
  height: 70vh;
  margin: 50px 10vmin;
}

/* The navigation side */
.menu {
  display: inline-block;
  position: absolute;
  width: 15vmax;
  left: 10rem;
  line-height: 1rem;
  height: 50vh;
  top: 8rem;
}
.menu h2 {
  margin-bottom: 2rem;
  text-decoration: underline;
  font-size: 2rem;
}
.menu :is(a, li) {
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 1rem;
}
.menu a:hover {
  color: rgb(214, 218, 22);
  font-weight: bold;
}
/* The main paragraph side */
.post {
  position: absolute;
  display: inline-block;
  width: 60vmax;
  height: 66vh;
  border: 2px solid gainsboro;
  box-shadow: -5px 5px rgb(245, 243, 243);
  right: 0;
  top: 3rem;
  overflow: hidden;
  line-height: 1.8rem;
}
.post h2 {
  text-align: right;
  padding: 2.5rem 1.5rem 0.8rem;
  line-height: 1rem;
}
.post p {
  margin-top: 3rem;
  padding: 1.5rem;
}
span {
  font-weight: bold;
}
/* setting the layout news page */
.page h1,
p,
h2 {
  padding: 2.5rem 1rem 0 1rem;
}
.page {
  counter-reset: count-section;
}
.section {
  border: 2px solid gainsboro;
  box-shadow: -5px 5px rgb(245, 243, 243);
  line-height: 1.7rem;
  width: 60vmax;
  height: 100%;
  margin: 10vh auto;
  padding: 2rem 2rem;
}
.section::after {
  counter-increment: count-section;
  content: "Page - " counter(count-section);
  display: grid;
  place-items: center;
  margin: 1rem;
}
.page button {
  width: 100px;
  height: 40px;
  padding: 5px;
  margin-top: 2rem;
  border-radius: 10px;
  border: 2px solid gainsboro;
  box-shadow: -5px 5px rgb(245, 243, 243);
  margin-left: 1rem;
}
.page button a {
  text-decoration: none;
  font-size: 1.2rem;
}
.page button:hover {
  background-color: rgba(92, 77, 49, 0.788);
}
.page button:hover a {
  color: antiquewhite;
}
.line {
  height: 50px;
  width: 200px;
  margin-left: 45%;
}
